

<%= stylesheet_link_tag 'index', :media => "all" %>


    <div class="container">
    <body>
    <script type="text/javascript" src="index.js"></script>
    <main>
      <h1>
        GIITA
      </h2>
      <h2>
        GIITAとは？
      </h1>
      <p>
        このサイトは、みなさんが教材をやっていく中で、出てきたエラーとその解決方法を共有し、その投稿をみた受講生が解決できるようにするサイトとなっています。参考にした記事のURLを貼ったり、エラーが出た時の画像を載せたり、どのようにそのエラーを解決したのかを投稿することが可能となっています。
      </p>
      <p>
        このサイトの登録時にはSlackの名前を登録していただきます。分からないことがあった際、その方にSLACKのDMで聞くことも可能となっています。この機会に全国の受講生と交流をしましょう！！（このことを了承のうえ、登録の方をよろしくお願いします。）
      </p>
      <p>
      ※注意
      </p>
      <p>
        登録（ログイン）後画面が変わらない方はホームのボタンを押してください。
      </p>
      <p>
        Qiitaは知らない人が見るから投稿しにくいという方はこのGIITAを使って備忘録としてご利用ください。
      </p>
      <p>
      また分からないことがこのサイトを利用して解決できた方は自分の言葉で投稿してみましょう！！インプットだけではなく、アウトプットも大事な力となります！！！
      </p>
      <p>
        このサイトを見ても解決できなかった方はSlackのチャンネルのquestionで聞いてみましょう！！
        解決したらぜひ投稿をお願いします。
      </p>

      <p>
        このサイトについてのご不明点、改善等、ございましたらSLACK でKazuya Goto 福岡 までご連絡ください
      </p>


      <h2>GEEK SALONでの３ヶ月間をより良いものにしていきましょう！！</h2>
    </main>
    <div class="diagonal-bg">
      <svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%'><line x1='100%' y1='0' x2='1' y2='100%' stroke='#FF4B3B' stroke-width='30%'/></svg>
    </div>
    
  </body>
    </div>
